
@{
    Layout = null;
}

<html lang="zh-tw" class="fontawesome-i2svg-active fontawesome-i2svg-complete gr__ltc_lottofun_life">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base href=".">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_token" content="0CSb17gqqFLsWlck5W5SObUTGw17F6BumbEs8l6L">
</head>
<body data-gr-c-s-loaded="true">
    <div id="spacer" class="spacer"></div>
    <!-- login-modal start -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" style="padding-right: 16px; ">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light">
                <div class="modal-body" style="padding-top:1.5rem; padding-bottom:1.5rem;">
                    <!-- Name chooser -->
                    <div class="row">
                        <div class="col">
                            <p class="lead nomarginb">登入</p>
                        </div>
                        <div class="col-auto"> </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        帳號 <input class="form-control text-center accountInput" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        密碼<input class="form-control text-center passwordInput" type="password" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-purp btn-block btn-lg" id="doLoginBtn"> 登入 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="0" id="send_check">
    <input type="hidden" value="" id="player_id">
    <!-- /main content -->
    <!-- owo -->

    <script src="~/Scripts/LF/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/LF/clipboard.min.js"></script>
    <script src="~/Scripts/LF/alertify.js"></script>
    <script src="~/Scripts/LF/bootstrap.bundle.js"></script>
    <script src="~/Scripts/LF/fontawesome-all.min.js"></script>
    <script src="~/Scripts/LF/socket.io_2.0.3_socket.io.js"></script>
    <script src="~/Scripts/LF/numeral.min.js"></script>
    <script src="~/Scripts/LF/_main.js?1655"></script>
    <script src="~/Scripts/LF/form.js"></script>

</body>
</html>
